@model EstimateVM;

<form method="post" enctype="multipart/form-data">
    <!-- Form section start here -->
    <div class="section-larger">
        <div class="container">

            <div class="insure-text bg-color-2 p-4">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9">
                        <h4 class="highlight">
                            <strong class="text-yellow">Upto 80% Off*</strong><br> on Comprehensive Car Insurance
                        </h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum quo ullam id incidunt accusamus numquam.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3">
                        <div class="img-container-sml text-right">
                            <img src="images/about_step_1.png" alt="">
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <div class="insure-form">
                        <h5>Need some more details</h5>
                        
                            <h6>Personal Info</h6>
                            <div class="form-group">
                            <label asp-for="@Model.Estimate.CustomerName" class="p-0"></label>
                            <input required asp-for="@Model.Estimate.CustomerName" class="form-control" />
                            <span asp-validation-for="@Model.Estimate.CustomerName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                            <label asp-for="@Model.Estimate.CustomerPhoneNumber" class="p-0"></label>
                            <input required asp-for="@Model.Estimate.CustomerPhoneNumber" class="form-control" />
                            <span asp-validation-for="@Model.Estimate.CustomerPhoneNumber" class="text-danger"></span>
                            </div>

                        <div class="form-group">
                            <label asp-for="@Model.Estimate.CustomerAddress" class="p-0"></label>
                            <input required asp-for="@Model.Estimate.CustomerAddress" class="form-control" />
                            <span asp-validation-for="@Model.Estimate.CustomerAddress" class="text-danger"></span>
                        </div>

                            <h6>Car Info</h6>
                            <div class="form-group form-row">
                                <div class="col-lg-7">
                                <label asp-for="@Model.Estimate.VehicleNumber" class="p-0"></label>
                                <select asp-for="@Model.Estimate.VehicleNumber" asp-items="@Model.VehicleList" id="vehicleDropDown" class="form-control">
                                    <option value="" disabled selected>-- Select Vehicle --</option>
                                </select>
                                <span asp-validation-for="@Model.Estimate.VehicleNumber" class="text-danger"></span>
                                </div>
                                 
                                <div class="col-lg-5">
                                <label asp-for="@Model.Estimate.VehicleName" class="p-0"></label>
                                <input asp-for="@Model.Estimate.VehicleName" class="form-control" readonly />
                                <span asp-validation-for="@Model.Estimate.VehicleName" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="form-group form-row">
                                <div class="col-lg-7">
                                <label asp-for="@Model.Estimate.VehicleModel" class="p-0"></label>
                                <input asp-for="@Model.Estimate.VehicleModel" class="form-control" readonly />
                                <span asp-validation-for="@Model.Estimate.VehicleModel" class="text-danger"></span>
                                </div>

                                <div class="col-lg-5">
                                <label asp-for="@Model.Estimate.VehicleVersion" class="p-0"></label>
                                <input asp-for="@Model.Estimate.VehicleVersion" class="form-control" readonly />
                                <span asp-validation-for="@Model.Estimate.VehicleVersion" class="text-danger"></span>
                                </div>

                            </div>
                        <div class="form-group form-row">
                            <div class="col-lg-7">
                                <label asp-for="@Model.Estimate.VehicleValue" class="p-0"></label>
                                <input asp-for="@Model.Estimate.VehicleValue" class="form-control" readonly />
                                <span asp-validation-for="@Model.Estimate.VehicleValue" class="text-danger"></span>
                            </div>

                            <div class="col-lg-5">
                                <label asp-for="@Model.Estimate.VehicleRate" class="p-0"></label>
                                <input asp-for="@Model.Estimate.VehicleRate" class="form-control" readonly />
                                <span asp-validation-for="@Model.Estimate.VehicleRate" class="text-danger"></span>
                            </div>
                            <div class="col-lg-12">
                                <label asp-for="@Model.Estimate.CustomerAddProveFile" class="p-0">Customer Add Proof:</label>
                                <input asp-for="@Model.Estimate.CustomerAddProveFile" type="file" class="form-control" />
                                <span asp-validation-for="@Model.Estimate.CustomerAddProveFile" class="text-danger"></span>
                            </div>

                        </div>
                       
                    </div>

                </div>

                <div class="col-lg-5 col-md-5 col-sm-12 offset-md-1 offset-lg-2">
                    <div class="plan">
                        <ul>
                            <label></label>
                            <div class="mb-3 row pd-1 col-12 w-100">
                                <label asp-for="@Model.Estimate.VehiclePolicyType" class="p-0"></label>
                                <select asp-for="@Model.Estimate.VehiclePolicyType" asp-items="@Model.PolicyList" id="policyDropDown" class="form-select">
                                    <option disabled selected>--Select Policy--</option>
                                </select>
                                <span asp-validation-for="@Model.Estimate.VehiclePolicyType" class="text-danger"></span>
                            </div>
                            <input asp-for="@Model.Estimate.PolicyId" value="@Model.PolicyList" hidden />
                            <textarea asp-for="@Model.Estimate.VehicleWarranty" hidden></textarea>
                            <li>                              
                                <h5>Base Cost: <input asp-for="@Model.Estimate.PolicyBaseCost" readonly /> $<span>/ Year</span></h5>
                                <h5>Annual Cost: <input asp-for="@Model.Estimate.PolicyAnnualCost" readonly /> %<span>/ Year</span></h5>
                                <p><strong>Included:</strong> Accident | Theft | Fire </p>
                            </li>
                        </ul>
                    </div>

                    <button type="button" class="btn btn-ter-round mt-4 mb-4" id="estimateCostBtn">Estimate Your Insurance</button>
                    <div class="plan">
                        <ul>
                            <li>
                                <h5>Estimate Cost: <input asp-for="Estimate.EstimateCost" id="estimateCost" readonly /> $<span>/ Year</span></h5>
                            </li>
                          
                        </ul>
                    </div>


                    <button type="submit" id="proceedButton" class="btn btn-prim-round mt-4">Proceed</button>
                 

                    <div class="send-quotes bg-color-2">
                        <h6>Send me the quote</h6>
                        <p>We will remind you before your current policy expire.</p>
                        <div class="quote-text">
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="flaticon-email"></span>
                                        <p>Email</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="flaticon-mobile-phone"></span>
                                        <p>SMS</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="flaticon-whatsapp"></span>
                                        <p>WhatsApp</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Form section Ends here -->
</form>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
   
    $(document).ready(function () {

        $("#proceedButton").prop("disabled", true);

        // When the vehicle dropdown selection changes
        $("#policyDropDown").change(function () {
            // Get the selected vehicle number
            var policyId = $(this).val();

            // Send an AJAX request to fetch the corresponding VehicleName
            $.ajax({
                url: "/Customer/Estimate/GetPolicy",
                method: "POST",
                data: { policyId: policyId },
                success: function (data) {

                    // Update the VehicleName input field with the received data
                    $("textarea[name='Estimate.VehicleWarranty']").val(data["warranty"]);
                    $("input[name='Estimate.PolicyId']").val(data["id"]);
                    $("input[name='Estimate.PolicyBaseCost']").val(data["baseCost"]);
                    $("input[name='Estimate.PolicyAnnualCost']").val(data["annualCost"]);
                },
                error: function (xhr, status, error) {
                    // Handle error if any
                    console.log(error);
                }
                  
            });
        });

        // When the vehicle dropdown selection changes
        $("#vehicleDropDown").change(function () {
            // Get the selected vehicle number
            var vehicleNumber = $(this).val();

            // Send an AJAX request to fetch the corresponding VehicleName
            $.ajax({
                url: "/Customer/Estimate/GetVehicle",
                method: "POST",
                data: { vehicleNumber: vehicleNumber },
                success: function (data) {

                    // Update the VehicleName input field with the received data
                    $("input[name='Estimate.VehicleName']").val(data["name"]);                  
                    $("input[name='Estimate.VehicleModel']").val(data["model"]);
                    $("input[name='Estimate.VehicleVersion']").val(data["version"]);
                    $("input[name='Estimate.VehicleValue']").val(data["vehicleValue"]);
                    $("input[name='Estimate.VehicleRate']").val(data["rate"]);
                },
                error: function (xhr, status, error) {
                    // Handle error if any
                    console.log(error);
                }
                    
            });
        });
        $("#estimateCost").on("input", function () {
            toggleProceedButton(); // Check whenever the estimateCost changes
        });


        $("#estimateCostBtn").click(function () {
            calculateEstimateCost();
            toggleProceedButton();
        });

        function toggleProceedButton() {
            var estimateCost = $("#estimateCost").val();
            if (estimateCost && !isNaN(parseFloat(estimateCost))) {
                $("#proceedButton").prop("disabled", false);
            } else {
                $("#proceedButton").prop("disabled", true);
            }
        }

        function calculateEstimateCost() {
            // Get selected vehicle and policy details
            var vehicleValue = parseFloat($("input[name='Estimate.VehicleValue']").val());
            var rate = parseFloat($("input[name='Estimate.VehicleRate']").val());
            var version = parseFloat($("input[name='Estimate.VehicleVersion']").val());
            var baseCost = parseFloat($("input[name='Estimate.PolicyBaseCost']").val());
            var annualCost = parseFloat($("input[name='Estimate.PolicyAnnualCost']").val());
            var currentYear = new Date().getFullYear();

            // Perform calculation if all necessary fields are populated
            if (!isNaN(vehicleValue) && !isNaN(rate) && !isNaN(version) && !isNaN(baseCost) && !isNaN(annualCost)) {
                var estimateCost = baseCost + ((vehicleValue * rate/100) * (currentYear - version + 1) * (annualCost/100));

                // Insert the estimateCost value into #estimateCost
                $("#estimateCost").val(estimateCost.toFixed(0));
            } else {
                console.log("Some fields are empty or not valid.");
            }
        }
    });
</script>