@model List<Vehicle>
<!--  BEGIN CONTENT AREA  -->
<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="middle-content container-xxl p-0">
<div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12 col-12 mt-3">
        <h4>Vehicle List</h4>
    </div>
</div>

<div class="row layout-top-spacing">
    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
        <div class="widget-content widget-content-area br-8">
            <div id="zero-config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                
                    <table id="zero-config" class="table table-striped dt-table-hover dataTable" style="width: 100%;" role="grid" aria-describedby="zero-config_info">
                        <thead>
                            <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" >Asign User</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" >Vehicle Name</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">Owner Name</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" >Model</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" >Version</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">Vehicle Value</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" >Insurance Rate</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" >Body Number</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" >Engine Number</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="zero-config" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" >Number</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var vehicle in Model)
                {
            <tr>
                                            <td>
                                                @vehicle.UserName
                                            </td>
                    <td>
                        @vehicle.Name
                    </td>
                    <td>
                        @vehicle.OwnerName
                    </td>
                    <td>
                        @vehicle.Model
                    </td>
                    <td>
                        @vehicle.Version
                    </td>
                    <td>
                        @(decimal.Round(vehicle.VehicleValue / 1000, 3).ToString("N3") + " $")
                    </td>
                    <td>
                        @((vehicle.Rate.ToString()) + "%")
                    </td>
                    <td>
                        @vehicle.BodyNumber
                    </td>
                    <td>
                        @vehicle.EngineNumber
                    </td>
                    <td>
                        @vehicle.Number
                    </td>
              
                    </tr>

           
                    }
                            
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
    </div>

</div>

        </div>

<!--  END CONTENT AREA  -->
@section Scripts {
    @{
        <partial name="_TableScript" />
        
    }
}

